body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-gap: 7px;
    margin: 20px 0;
    background-color: blue;
    padding: 10px;
  }
  
  .cell {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid black 2px;
  }
  
  .cell:hover {
    cursor: pointer;
  }

  .player1 {
    background-color: red;
  }
  
  .player2 {
    background-color: yellow;
  }
  
  #message {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  #restartButton {
    padding: 10px 20px;
    font-size: 16px;
  }
  